<div data-role="header">
  <h1>Timesheet</h1>
</div>
<div data-role="content">
<%= link_to 'Work Items List', {controller: :works, action: :index}, { 'data-role' => 'button' } %>
<%= link_to 'Log Time', {controller: :works, action: :new}, { 'data-role' => 'button' } %>
</div>
