<div data-role="header">
  <h1>Projects</h1>
  <%= link_to 'Home', { controller: 'home', action: 'index'}, {'data-role' => 'button', 'data-ajax' => 'false' } %>
</div>

<div data-role="content">
<%= link_to 'New Project', new_project_path, { 'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false' } %>


  <ul data-role="listview" data-inset="true">
    <% @projects.each do |project| %>
      <li>
      <%= link_to project.name, edit_project_path(project), { 'data-ajax' => 'false' } %>
      </li>
    <% end %>
  </ul>

</div> <!-- content -->
