<div data-role="header">
  <h1>Listing activities</h1>
  <%= link_to 'Home', {controller: 'home', action: 'index'}, {'data-ajax' => 'false'} %>
</div>

<div data-role="content">

<%= link_to 'New Activity', new_activity_path, {'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false'} %>
<ul data-role="listview" data-inset="true">
<% @activities.each do |activity| %>
  <li>
    <%= link_to "#{activity.code}: #{activity.name}", edit_activity_path(activity) %>
  </li>
<% end %>
</ul>
</div>
