<div data-role="header">
  <h1>Listing activities</h1>
  <%= link_to 'Home', {controller: 'home', action: 'index'}, {'data-ajax' => 'false'} %>
</div>

<div data-role="content">

<%= link_to 'New Activity', new_activity_path, {'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false'} %>
<% @activities.each do |activity| %>
  <div class="activity-item">
  <%= link_to "#{activity.code}: #{activity.name}", edit_activity_path(activity) %>
  </div>
<% end %>
  </tr>
</table>
</div>
